<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Recommendation</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles1.css')}}">
</head>
<body>
    <div class="d1">
        <img class="img1" src="{{ url_for('static', filename='images/1037712.jpg') }}">
        <p class="t1">Let's Find Your Book <p>
        <div class="search-box">
            <input type="text" id="book-name" placeholder="Enter a book name">
            <button onclick="fetchRecommendations()">Get Recommendations</button>
        </div>
        <div id="recommendations" class="recommendations">
        </div>  
    </div>

    <script src="{{url_for('static', filename='js/js1.js')}}"></script>
</body>
</html>